#bnb-wrapper {
  background-color: $sea-blue;
}

#bnb-mobile-nav {
  @include mobilenav;
  background-color: $gainsboro;
  a {
    color: $sea-blue;
  }
}

#bnb-nav {
  @include nav;
  background-color: $sea-blue;
  a {
    color: $gainsboro;
    &:hover {
      color: $pacific-blue;
    }
  }
}

#bnb-header {
@include artist-header;
  color: $gainsboro;
  #dance {
    @include long-song;
  }
}

#bnb-content {
  @include content;
  color: $gainsboro;
}
