#cc-wrapper {
  background-color: $eerie-black;
}

#cc-mobile-nav {
  @include mobilenav;
  background-color: $byzantine;
  a {
    color: $rich-black;
  }
}

#cc-nav {
  @include nav;
  background-color: $eerie-black;
  a {
    color: $rackley;
    &:hover {
      color: $byzantine;
    }
  }
}

#cc-header {
@include artist-header;
  color: $rackley;
  #havana {
    @include long-song;
  }
}

#cc-content {
  @include content;
  color: $rackley;
  #thug {
    @include feat-artist;
  }
}
