#d-wrapper {
  background-color: $dark-green;
}

#d-mobile-nav {
  @include mobilenav;
  background-color: $copper;
  a {
    color: $dark-green;
  }
}

#d-nav {
  @include nav;
  background-color: $dark-green;
  a {
    color: $green-sheen;
    &:hover {
      color: $copper;
    }
  }
}

#d-header {
  @include artist-header;
  color: $green-sheen;
  #zauberflote {
    @include long-song;
    line-height: 1.2em;
  }
}

#d-content {
  @include content;
  color: $green-sheen;
  .info-link {
    a {
    color: $copper;
      &:hover {
        color: $papaya-whip;
      }
    }
  }
  .lyrics {
    a {
      color: $copper;
        &:hover {
          color: $papaya-whip;
        }
      }
    }
  #rhorer {
    @include feat-artist;
  }
}
