#d-wrapper {
  background-color: $cinnamon-satin;
}

#d-mobile-nav {
  @include mobilenav;
  background-color: $smoky-black;
  a {
    color: $opera-mauve;
  }
}

#d-nav {
  @include nav;
  background-color: $cinnamon-satin;
  a {
    color: $smoky-black;
    &:hover {
      color: $taupe-gray;
    }
  }
}

#d-header {
  @include artist-header;
  color: $smoky-black;
}

#d-content {
  @include content;
  color: $smoky-black;
  #nevve {
    @include feat-artist;
  }
}
