#fo-wrapper {
  background-color: $charleston-green;
}

#fo-mobile-nav {
  @include mobilenav;
  background-color: $light-grey;
  a {
    color: $charleston-green;
  }
}

#fo-nav {
  @include nav;
  background-color: $charleston-green;
  a {
    color: $hookers-green;
    &:hover {
      color: $anti-flash;
    }
  }
}

#fo-header {
@include artist-header;
  color: $hookers-green;
}

#fo-content {
  @include content;
  color: $hookers-green;
  .lyrics {
    a {
      color: $anti-flash;
      &:hover {
        color: $purple-navy;
      }
    }
  }
}
