#h-wrapper {
  background-color: $red-devil;
}

#h-mobile-nav {
  @include mobilenav;
  background-color: $marigold;
  a {
    color: $red-devil;
  }
}

#h-nav {
  @include nav;
  background-color: $red-devil;
  a {
    color: $gainsboro;
    &:hover {
      color: $queen-blue;
    }
  }
}

#h-header {
@include artist-header;
  color: $gainsboro;
  #bad {
    @include long-song;
  }
}

#h-content {
  @include content;
  color: $gainsboro;
  a {
    color: $marigold;
    &:hover {
      color: $queen-blue;
    }
  }
}
