#jf-wrapper {
  background-color: $desert-sand;
}

#jf-mobile-nav {
  @include mobilenav;
  background-color: $maastrich-blue;
  a {
    color: $desert-sand;
  }
}

#jf-nav {
  @include nav;
  background-color: $desert-sand;
  a {
    color: $maastrich-blue;
    &:hover {
      color: $pale-cerulean;
    }
  }
}

#jf-header {
@include artist-header;
  color: $maastrich-blue;
  #twenty-four {
    @include long-song;
  }
}

#jf-content {
  @include content;
  color: $maastrich-blue;
  #paganini {
    @include feat-artist;
  }
}
