#lm-wrapper {
  background-color: $tyrian-purple;
}

#lm-mobile-nav {
  @include mobilenav;
  background-color: $pale-chestnut;
  a {
    color: $tyrian-purple;
  }
}

#lm-nav {
  @include nav;
  background-color: $tyrian-purple;
  a {
    color: $pale-chestnut;
    &:hover {
      color: $majorelle-blue;
    }
  }
}

#lm-header {
@include artist-header;
  color: $pale-chestnut;
  #back {
    @include long-song;
  }
}

#lm-content {
  @include content;
  color: $pale-chestnut;
  #groff {
    @include feat-artist;
  }
}
