#maya-wrapper {
  background-color: $light-moss-green;
  }

#maya-mobile-nav {
  @include mobilenav;
  background-color: $dark-sienna;
  a {
    color: $lust;
  }
}

  #maya-nav {
    @include nav;
    background-color: $light-moss-green;
    a {
      color: $rosewood;
      &:hover {
        color: $tiffany-blue;
      }
    }
    @media screen and (max-width: 524px) {
    display: none;
    height: 0;
    width: 0;
    }
  }

.link {
  padding: 2em 0 2em 2em;
  a {
    color: $ksu-purple;
    text-decoration: none;
    font-family: serif;
    font-size: 1.3em;
    font-family: 'Tulpen one', cursive;
    font-size: 2.500em;
    &:hover{
      color:$russet;
    }
  }
}

.hamburger {
  align-self: flex-end;
  color: white;
  margin: 1em 1.2em 0 0;
  float: right;
  font-size: 3em;
  cursor: pointer;
  @media screen and (min-width: 525px) {
    display: none;
    height: 0;
    width: 0;
  }
}
.m-header {
  text-align: center;
  @media screen and (max-width: 380px) {
    margin-top: 2em;
  }
  h1 {
    color: $dark-sienna;
    padding-bottom: 0.5em;
    font-family: 'Unkempt', cursive;
    @media screen and (max-width: 380px) {
      font-size: 6em;
    }
  }
  h4 {
    color: $rosewood;
    line-height: 1.5em;
    font-family: 'Yellowtail', cursive;
    font-size: 1.875em;
    @media screen and (max-width: 380px) {
      font-size: 2.25em;
    }
    padding: 0 2em 0;
  }
}

.graphboxythingy{
  display: flex;
  flex-direction: column;
  padding-top: 2.2em;
  .row {
    display: flex;
    justify-content: center;
    width: 100%;
    @media only screen and (max-width: 625px) {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    .box{
      width: 18.97em;
      height: 18.97em;
      background-color: #247BA0;
      border: 2px solid #EBBAB9;
      @media screen and (max-width: 625px) {
        width: 80%;
        height: auto;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
    #vice, #alive {
      background-image: url('../img/Vice - EP.png');
      background-position: center;
      background-size: cover;
      border: 2px solid #E61422;
      color: $yellow-rose;
      text-shadow: 2px 2px 2px black;
      p {
        font-size: 1.3em;
      }
      audio {
        width: 100%;
      }
      @media screen and (max-width: 625px) {
        height: 35vh;
      }
    }
    #runthisplace {
      background-image: url('../img/Run this place - single.png');
      background-position: center;
      background-size: cover;
      border: 2px solid #E61422;
      color: $yellow-rose;
      text-shadow: 2px 2px 2px black;
      text-align: center;
      p {
        font-size: 1.3em;
      }
      audio {
        width: 100%;
      }
      @media screen and (max-width: 625px) {
        height: 35vh;
      }
    }

    #youtube1 #youtube2 {
      color: $yellow-rose;
      text-shadow: 2px 2px 2px black;
      iframe {
        @media screen and (max-width: 1142px) {
          height: 100%;
          width: 100%;
        }
      }
    }
    #youtube1 {
      p {
        background-color: black;
        color: $platinum;
        font-size: 1.3em;
        text-align: center;
        @media screen and (min-width: 380px) {
          display: none;
          height: 0;
          width: 0;
        }
      }
    }
  }
}
.cat {
  color: $ocean-blue;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  p {
   font-family: 'Yellowtail', cursive;
  }
}
