#s-wrapper {
  background-color: $prussian-blue;
}

#s-mobile-nav {
  @include mobilenav;
  background-color: $dark-cerulean;
  a {
    color: $smoky-black;
  }
}

#s-nav {
  @include nav;
  background-color: $prussian-blue;
  a {
    color: $coral-reef;
    &:hover {
      color: $saffron;
    }
  }
}

#s-header {
  @include artist-header;
  color: $coral-reef;
  #cranes-in-the-sky {
    @media screen and (max-width: 475px) {
      text-align: center;
      margin: 0 1em 2em;
    }
  }
}

#s-content {
  @include content;
  color: $coral-reef;
  .info-link {
    a {
    color: $saffron;
      &:hover {
        color: $dark-cerulean;
      }
    }
  }
  .lyrics {
    a {
    color: $saffron;
      &:hover {
        color: $dark-cerulean
      }
    }
  }
}
