#t-wrapper {
  background-color: $cornflower;
}

#t-mobile-nav {
  @include mobilenav;
  background-color: $smoky-black;
  a {
    color: $opera-mauve;
  }
}

#t-nav {
  @include nav;
  background-color: $cornflower;
  a {
    color: $smoky-black;
    &:hover {
      color: $cg-red;
    }
  }
}

#t-header {
  @include artist-header;
  color: $smoky-black;
  #we-the-people {
    @include long-song;
  }
}

#t-content {
  @include content;
  color: $smoky-black;
  .info-link {
    a {
    color: $cg-red;
      &:hover {
        color: $misty-moss;
      }
    }
  }
  .lyrics {
    a {
      color: $cg-red;
      &:hover {
        color: $misty-moss;
      }
    }
  }
}
