#v-wrapper {
  background-color: $yankees-blue;
}

#v-mobile-nav {
  @include mobilenav;
  background-color: $spanish-gray;
  a {
    color: $yankees-blue;
  }
}

#v-nav {
  @include nav;
  background-color: $yankees-blue;
  a {
    color: $spanish-gray;
    &:hover {
      color: #065a82;
    }
  }
}

#v-header {
@include artist-header;
  color: $spanish-gray;
}

#v-content {
  @include content;
  color: $spanish-gray;
  a {
    color: $cedar-chest;
    &:hover {
      color: $light-blue;
    }
  }
}
