//Variables//

//margins//
$a-header: 5em 0 3em 3em;
$content: 0 3em 0em 3em;
$mobile-content: 0 1.5em 0 1.5em;

//colors//
$light-moss-green: #B3DEAF;
$dark-sienna: #36151E;
$lust: #E61422;
$rosewood: #660000;
$tiffany-blue: #17BEBB;
$ksu-purple: #52238C;
$russet: #804A11;
$yellow-rose: #FFF100;
$platinum: #E5E5E5;
$ocean-blue: #473AAA;
$brown: #261603;
$tan: #976023;
$dust-storm: #E3C5BB;
$cornflower: #7392FE;
$smoky-black: #0A0509;
$opera-mauve: #AC80A0;
$misty-moss: #BDC37C;
$cg-red: #DF3538;
$rich-black: #030726;
$rackley: #5F829C;
$byzantine: #B94399;
$pale-silver: #C8BFC7;
$registration: #010101;
$spanish-gray: #9999A1;
$med-blue: #0200C2;
$pale-taupe: #C89682;
$prussian-blue: #003049;
$coral-reef: #F37767;
$saffron: #F9C22E;
$dark-cerulean: #1F487E;
$van-dyke-brown: #63372C;
$manatee: #999BAA;
$carmine-pink: #F04E56;
$dark-purple: #2D232E;
$queen-pink: #EACBD2;
$dark-lavender: #6E448E;
$old-burgundy: #442B48;
$princeton-orange: #FB8B24;
$licorice: #120F11;
$smoky-topaz: #90280C;
$cinereous: #92817A;
$dutch-white: #F1DABF;
$dark-green: #042A2B;
$green-sheen: #80ADA0;
$copper: #BF7A2E;
$antique-ruby: #832232;
$papaya-whip: #FFF0D6;
$taupe: #463F3A;
$pale-aqua: #BFDBF7;
$cadet-grey: #8D9DAE;
$gainsboro: #DADDD8;
$gunmetal: #2B2D42;
$android-green: #95C137;
$pantone-red: #EF233C;
$hookers-green: #4C7D5E;
$charleston-green: #2A2B2A;
$anti-flash: #F2F2F2;
$light-grey: #D4D2D5;
$purple-navy: #3D5A80;
$liberty: #4357AD;
$cherry: #D1345B;
$eerie-black: #22181C;
$dark-pastel-blue: #7498D0;
$antique-brass: #D69F7E;
$isabelline: #F6F7EB;
$falu-red: #8B1B11;
$deer: #AB8751;
$seal-brown: #582707;
$tuscan: #EED4A2;
$fiery-rose: #F45B69;
$pink-lace: #FCE0FC;
$plump-purple: #6247AA;
$light-med-orchid: #D999B9;
